<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div id="div_form">
      <h1>Login</h1>
      <form method="POST" action="/login/enter">
        <label for="name">Name:</label>
        <input id="name" type="text" placeholder="name" name="name">
        <label for="email">Email:</label>
        <input id="email" type="mail" placeholder="email" name="email">
        <label for="password">Name:</label>
        <input id="password" type="password" placeholder="password" name="password">
        <button type="submit">send</button>
      </form>
    </div>
  </body>
</html>
